[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asn1crypto = "*"
"backports.csv" = "*"
certifi = "*"
cffi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
defusedxml = "*"
diff-match-patch = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-filter = "*"
django-formtools = "*"
django-guardian = "*"
django-import-export = "*"
django-qiniu-storage = "*"
django-redis = "*"
django-reversion = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
drf-extensions = "*"
future = "*"
httplib2 = "*"
idna = "*"
itypes = "*"
jdcal = "*"
mysqlclient = "*"
oauthlib = "*"
odfpy = "*"
openpyxl = "*"
pillow = "*"
pycparser = "*"
pycryptodome = "*"
pyjwt = "*"
python3-openid = "*"
pytz = "*"
qiniu = "*"
raven = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
shellescape = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
tablib = "*"
unicodecsv = "*"
uritemplate = "*"
urllib3 = "*"
xlrd = "*"
xlwt = "*"
Django = "*"
et_xmlfile = "*"
Jinja2 = "*"
Markdown = "*"
MarkupSafe = "*"
Naked = "*"
PyYAML = "*"

[requires]
python_version = "3.7"
