asgiref==3.2.10
asn1crypto==1.4.0
backports.csv==1.0.7
bleach==3.3.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.1
defusedxml==0.6.0
demjson==2.2.4
diff-match-patch==20200713
Django==3.1.1
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-filter==2.3.0
django-formtools==2.2
django-guardian==2.3.0
django-import-export==2.3.0
django-qiniu-storage==2.3.1
django-ranged-response==0.2.0
django-redis==4.12.1
django-reversion==3.0.8
django-simple-captcha==0.5.12
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
docutils==0.16
drf-extensions==0.6.0
et-xmlfile==1.0.1
future==0.18.2
httplib2==0.18.1
idna==2.10
importlib-metadata==1.7.0
itypes==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
keyring==21.4.0
Markdown==3.2.2
MarkupPy==1.14
MarkupSafe==1.1.1
mysqlclient==2.0.1
Naked==0.1.31
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.5
packaging==20.4
Pillow==7.2.0
pkginfo==1.5.0.1
pycparser==2.20
pycryptodome==3.9.8
Pygments==2.7.1
PyJWT==1.7.1
pyparsing==2.4.7
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.3.1
qiniu==7.2.10
raven==6.10.0
readme-renderer==27.0
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
shellescape==3.8.1
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.3.1
tablib==2.0.0
tqdm==4.50.2
twine==3.2.0
tyadmin-api-cli==0.8.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.10
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
